<nav>
    <ul>
        <li>
            <a
                routerLink="/"
                routerLinkActive="active" aria-current="page"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Home
            </a>
        </li>
        <li>
            <a
                routerLink="/form"
                routerLinkActive="active" aria-current="page"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Form
            </a>
        </li>
        <li>
            <a
                routerLink="/api-data"
                routerLinkActive="active" aria-current="page"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Api-Data
            </a>
        </li>
    </ul>
</nav>